@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MegaDesk3.0</h1>
    <p>You liked our computer app, now we want to make you the best application for making your
        favorite desk orders online! 
    </p>
</div>
