@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your information is very important to us, and keeping
    you safe is one of our highest priorities.</p>
